button {
  width: 125px;
  height: 40px;
}

body {
  margin: 20px;
}

h1 {
  margin-left: 95px;
}

.scoreBoard {
  display: flex;
  flex-direction: row;
}

#vinstP {
  margin-right: 85px;
}

#förlustP {
  margin-right: 85px;
}

#ties {
  margin-right: 85px;
}

.wrapper {
  border: 2px solid black;
  padding: 10px;
  max-width: 400px;
}

/*   skräp
#imageButton {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.therock {
  max-width: 125px;
  height: 40px;
}

#imageButton:hover {
  transform: scale(1.1);
}

      <img
        id="imageButton"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1tf8drlHgNmhpg8TC5VvgbrwkPTyplNg2lsP39qAe4HXESH26g9BVqE4UUQADaGDtW04&usqp=CAU"
        alt="Button Image"
      />   */
