@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto+Condensed:wght@300&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto+Condensed:wght@300&family=Secular+One&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
}

.sun-aside {
  width: 700px;
  height: 100vh;
  background-color: #ffd700;
  border-radius: 100%;
  transform: translateX(-52%);
}
#solen {
  height: 800px;
  width: 250px;
}

h1 {
  color: #fff;
  font-family: Secular One;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5.4px;
}
h4 {
  color: #ffd029;
  text-align: right;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 14.4px;
}
.header {
  align-self: flex-end;
  flex-direction: column;
  max-height: 130px;
  max-width: 488px;
  margin-top: 35px;
  margin-right: 35px;
}

main {
  display: flex;
  flex-direction: column;
}

#planet-wrapper {
  display: flex;
  max-height: 250px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 290px;
}

button {
  width: 125px;
  height: 66px;
  margin: 15px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#jupiter {
  width: 210px;
}

#saturnus {
  position: relative;
  z-index: 1;
}

button:hover {
  transform: scale(1.1);
}
/*   modal    */

/* dimmar ut backgrunden */
#modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

dialog {
  height: 800px;
  width: 1000px;
  margin: auto;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
}

.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inside-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 67px;
}
.modal-title {
  color: #fff;
  font-family: Secular One;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 60px */
  letter-spacing: 5.4px;
  margin-bottom: 15px;
}
.modal-undertitle {
  color: #ffd029;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 14.4px;
  margin-bottom: 18px;
}

.modal-desc {
  color: #fff;
  font-family: Roboto Condensed;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 30.6px */
}

.area,
.distance,
.day-temp,
.night-temp,
.day-temp,
.moons {
  color: #fff;
  font-family: Roboto Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 30.6px */
  letter-spacing: 2.88px;
  hyphens: auto;
}

.modal-grid {
  display: grid;
  grid-template-columns: 296px 295px;
  grid-template-rows: 125px 125px;
}

.mini-title {
  color: #fff;
  font-family: Secular One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: 1.62px;
}

hr {
  margin-top: 10px;
  margin-bottom: 15px;
}
