body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 120px);
}

.wrapper header,
aside,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.låda1 {
  grid-column: 1 / span 6;
  background-color: violet;
}

.låda2 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 2;
  background-color: yellow;
}

.låda3 {
  grid-column: 5 / span 4;
  grid-row: 2 / span 2;
  background-color: green;
}
.låda4 {
  grid-column: 1 / span 6;
  grid-row: 4 / span 1;
  background-color: red;
}
